*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

#root{
    display: flex;
    align-items: center;
    justify-content: center;
}


.wrapper{
    width: 800px;
}

h1{
    text-align: center;
    text-transform: uppercase;
    color: rebeccapurple;
    margin-top: 20px;
}

.post{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 2px solid teal;
    padding: 24px 32px;
    margin-top: 20px;
}

.post button{
    margin-bottom: 0;
}

.post__container{
    display: flex;
    flex-direction: column;
}

form{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

button{
    padding: 10px 15px;
    border: 2px solid teal;
    color: teal;
    background-color: transparent;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 12px;
    margin-top: 12px;
}

button:hover{
    background-color: teal;
    color: white;
}

input, select{
    padding: 10px 15px;
    border: 2px solid teal;
    color: #000;
    font-size: 16px;
    margin-bottom: 12px;
}


.modal{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content{
    background-color: #fff;
    padding: 20px;
    border-radius: 16px;
    min-width: 400px;
}


.pages{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
}

.pages-item{
    color: #000;
    padding: 10px 15px;
    margin: 0 8px;
    cursor: pointer;
}

.pages-item.current{
    color: rgba(0, 0, 0, 0.3);
}

.wrapper{
    display: flex;
    flex-direction: column;
}

.navbar{
    width: 100%;
    padding: 15px;
     border: 2px solid teal;
    margin-top: 10px;
}
.navbar ul{
    display: flex;
}

.navbar a{
    list-style: none;
    margin-right: 10px;
    font-weight: bold;
    font-size: 18px;
    color: teal;
    padding: 5px 10px;
    text-decoration: none;
      border: 2px solid teal;
}
.navbar a:hover{
    opacity: 0.8;
    cursor: pointer;
}

.navbar a.active{
    background-color: teal;
    color: white;
}

.error{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
}

.error p{
    font-size: 48px;
    margin-bottom: 8px;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
}

.post-container{
    margin-top: 24px;
}

.post-title{
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 24px;
}

.post-body{
    font-size: 16px;
}

.comments-title{
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: auto;

}

.comment{
    padding: 5px 10px;
    border: 1px solid teal;
    margin-bottom: 16px;
}

.comment-user{
    color: blue;
    margin-bottom: 8px;
}
.comment-body{
    color: black;
}